{% extends 'base.html' %}

{% block title %} - Blog{% block subtitle %}{% endblock subtitle %}{% endblock title %}

{% block nav_bar %}
	<li><a href={% url emkaystudios.views.index %}>Home</a></li>
    <li><a href={% url emkaystudios.views.about %}>About</a></li>
    <li><a href={% url emkaystudios.views.archive %}>Archive</a></li>
    <li class="active"><a href={% url blog.views.index %}>Blog</a></li>
    <li class="last"><a href={% url emkaystudios.views.contact %}>Contact Us</a></li>
{% endblock nav_bar %}