{% extends 'blog/base.html' %}

{% block content %}


<h2>Blog</h2>
<ul>
	{% for post in all_posts %}
		<li>
			<h2>{{post.title}}</h2>
			<p>by {{post.user.first_name}} {{post.user.last_name}}<br/>{{post.created_on}}</p>
			<p>{{post.body|safe|truncatewords_html:45}}</p>
			<a class="read_more" href={% url blog.views.show_post post_id=post.id post_slug=post.slug %}>Continue Reading &raquo;</a>
		</li>
		<br/>
	{% empty %}
		<li>
			<p>There are no Posts yet.</p>
		</li>
	{% endfor %}
</ul>

{% endblock content %}