{% extends 'base.html' %}

{% block title %} - About{% endblock title %}

{% block nav %}

<li><a href={% url emkaystudios.views.index %}>HOME</a></li>
<li><a class="active" href={% url emkaystudios.views.about %}>ABOUT</a></li>
<li><a href={% url emkaystudios.views.archive %}>ARCHIVE</a></li>
<li><a href={% url blog.views.index %}>BLOG</a></li>
<li><a href={% url emkaystudios.views.contact %}>CONTACT</a></li>

{% endblock nav %}

{% block content %}


<h2>About</h2>
<p>
	Founded by Emad Khan and Kashif Malik, EmKay Studios specializes in 3-D design, Video production and Sound composition.
	<br>
	<br>
	3-D design encompasses stand alone projects as in the case of 3-D modeling for architecture, products and visual spaces. It also includes integration of 3-D elements into live video footage for example movie special effects.
	<br>
	<br>
	Video production includes all three stages: Pre-production i.e. script writing and idea generation, Production i.e. directing and producing on site shooting and Post-production i.e. editing, video design, color grading, special effects and more.
	<br>
	<br>
	Sound composition compliments video production where original scores are to be composed for projects. Music can be composed separately where required. We also provide Sound mastering and Editing services.
</p>

{% endblock content %}