{% extends 'base.html' %}

{% block title %} - About{% endblock title %}

{% block nav_bar %}
	<li><a href={% url emkaystudios.views.index %}>Home</a></li>
	<li class="active"><a href={% url emkaystudios.views.about %}>About</a></li>
	<li><a href={% url emkaystudios.views.archive %}>Archive</a></li>
	<li><a href={% url blog.views.index %}>Blog</a></li>
	<li class="last"><a href={% url emkaystudios.views.contact %}>Contact Us</a></li>
{% endblock nav_bar %}

{% block content %}

<div class="wrapper">
  	<div id="container">
		<h2>About</h2>
		<p>
			Founded by Emad Khan and Kashif Malik, EmKay Studios specializes in 3-D design, Video production and Sound composition.
			<br>
			<br>
			3-D design encompasses stand alone projects as in the case of 3-D modeling for architecture, products and visual spaces. It also includes integration of 3-D elements into live video footage for example movie special effects.
			<br>
			<br>
			Video production includes all three stages: Pre-production i.e. script writing and idea generation, Production i.e. directing and producing on site shooting and Post-production i.e. editing, video design, color grading, special effects and more.
			<br>
			<br>
			Sound composition compliments video production where original scores are to be composed for projects. Music can be composed separately where required. We also provide Sound mastering and Editing services.
		</p>
    	<ul>
    		<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
          	<li>
            	<h2>Emad Khan</h2>
            	<p><img class="imgl" src="http://www.tes.co.uk/magazine/graphics/graphic_placeholder_60x60.gif" alt="" /></p>
            	<p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
          	</li>
          	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
        	<br class="clear" />
          	<li>
            	<h2>Kashif Malik</h2>
            	<p><img class="imgl" src="http://www.tes.co.uk/magazine/graphics/graphic_placeholder_60x60.gif" alt="" /></p>
            	<p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
            	<br class="clear" />
          	</li>
    	</ul>
	</div>
</div>

{% endblock content %}