{% extends 'base.html' %}

{% block title %} - Home{% endblock title %}


{% block nav %}

<li><a class="active" href={% url emkaystudios.views.index %}>HOME</a></li>
<li><a href={% url emkaystudios.views.about %}>ABOUT</a></li>
<li><a href={% url emkaystudios.views.archive %}>ARCHIVE</a></li>
<li><a href={% url blog.views.index %}>BLOG</a></li>
<li><a href={% url emkaystudios.views.contact %}>CONTACT</a></li>

{% endblock nav %}


{% block content %}


<div id="latest">
	<h2>Welcome</h2>
	<p></p>
</div>

<div id="featured">
	<iframe id="video" src="https://www.youtube-nocookie.com/embed/qzydkG8Wqxk?rel=0&autohide=1" frameborder="0" allowfullscreen></iframe>
	<div id="description">
		<h2 id="name">Leverage - Short Film</h2>
		<p>What is one man prepared to do to overcome his enemy's leverage.</p>
		<p>Directed by: Emad Khan</p>
		<p>Written by: Emad Khan</p>
		<p>Starring: Yasin Asad, Matthias Vollhardt</p>
	</div>
</div>

<div id="twitter">
	<h2>Twitter</h2>
	<ul>
		<li>
			{% for tweet in latest_tweets %}
				<p>{{ tweet.text }}</p>
			{% empty %}
				<p>There are no tweets yet!</p>
			{% endfor %}
			<a class="read_more" href="https://twitter.com/EmKayStudios">Twitter &raquo;</a>
		</li>
	</ul>
</div>



{% endblock content %}