{% extends 'base.html' %}

{% block title %} - Home{% endblock title %}


{% block nav_bar %}

<li class="active"><a href={% url emkaystudios.views.index %}>Home</a></li>
<li><a href={% url emkaystudios.views.about %}>About</a></li>
<li><a href={% url emkaystudios.views.archive %}>Archive</a></li>
<li><a href={% url blog.views.index %}>Blog</a></li>
<li class="last"><a href={% url emkaystudios.views.contact %}>Contact Us</a></li>

{% endblock nav_bar %}


{% block content %}

<div class="wrapper">
    <div id="latest">
        <iframe class="fl_left" src="https://www.youtube-nocookie.com/embed/qzydkG8Wqxk?rel=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        <div class="fl_right">
            <h2>Leverage - Short Film</h2>
            <p>Leverage is a short action film about what it takes to overcome evil. If you enjoy it and want to show your support, please share it with your friends.</p>
        </div>
        <br class="clear" />
    </div>
</div>


<div class="wrapper">
  	<div id="container">
    	<div id="content">
      		<h2>{{latest_announcement.title}}</h2>
          <div class="submitdate">{{latest_announcement.created_on|timesince}} ago</div>
      		<p>{{latest_announcement.body|safe}}</p>
    	</div>
    	<div id="column">
      		<div class="holder">
        		<h2>Twitter Stream</h2>
        			<ul id="latestnews">
          				<li>
          					{% for tweet in latest_tweets %}
	            				<p><strong>{{ tweet.text }}</strong></p>
            				{% empty %}
            					<p>There are no tweets yet!</p>
            				{% endfor %}
            				<p class="readmore"><a href="https://twitter.com/EmKayStudios">Twitter &raquo;</a></p>
          				</li>
        			</ul>
      		</div>
    	</div>
    	<br class="clear" />
  	</div>
</div>


<div class="wrapper">
    <div id="intro">
    	<ul>
    		{% for item in latest_items %}
	      		<li {% if forloop.last %} class= "last" {% endif %}>
	        		<h2>{{item.title}}</h2>
	    		    <p>{{item.body|safe|truncatewords_html:25}}</p>
	    			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	      		</li>
	      	{% empty %}
	      		<li class= "last" >
	        		<h2>There Are No Posts!</h2>
	    		    <p>Not yet at least.</p>
	    			<p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
	      		</li>
      		{% endfor %}
    	</ul>
    	<br class="clear" />
  	</div>
</div>


{% endblock content %}