{% load staticfiles %}

<!-- Header --> 
<div class="row header">	 
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<a class="btn btn-navbar btntop" data-toggle="collapse" data-target=".nav-collapse">NAVIGATION</a>

				<h1 class="brand hidden-phone hidden-tablet">
					<a href="index.html">
						<h2>EmKay Studios</h2>
						{# <img src="{% static 'Metro/img/logo.png' %}" alt=""> #}
					</a>
				</h1>

				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li><a href="{% url home.views.index %}" class="active">Home</a></li>
						<li><a href="{% url home.views.index %}">About</a></li>
						<li><a href="{% url home.views.index %}">Portfolio</a></li>
						<li><a href="{% url home.views.index %}">Contact</a></li>
						<li><a href="{% url home.views.index %}">Blog</a></li>
					</ul>
				</div>

			</div>
		</div>
	</nav>
</div>